###############################################################################
#                          Generated on dockerfile                            #
###############################################################################

version: "3.7"
services:

  db:
    image: mysql:5.7
    container_name: application_docker
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci ==init-connect='SET NAMES UTF8;' -- innodb-flush-log-attrx-commit=0
    restart: unless-stopped
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
      - ./docker/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
      - ./docker/logs/mysql-slow.log:/var/log/mysql/mysql-slow.log
    environment:
      MYSQL_DATABASE: docker
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_PASSWORD: root
      MYSQL_USER: docker
    ports:
      - 8911:3306

  nginx:
    build: docker/nginx
    container_name: application_nginx
    working_dir: /application
    restart: always
    volumes:
      - .:/application
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8010:80
      - 8011:443

  app:
    build: docker/php-fpm
    image: application_php_image:1.0.1
    container_name: application_php
    restart: unless_stopped
    working_dir: application
    volumes:
      - .:/application
      - ./docker/php-fpm/php-ini-overrides.ini:/etc/php/7.4/fpm/conf.d/99-overrides.ini


  

